<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259499963824-mq7ve3r2iknlur205sc3jc3igim50fot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259499963824-mq7ve3r2iknlur205sc3jc3igim50fot</string>
	<key>API_KEY</key>
	<string>AIzaSyB2CxCSeyXwWe34GrfzXdeH1-FVZPIVcWA</string>
	<key>GCM_SENDER_ID</key>
	<string>259499963824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.Jamtorne</string>
	<key>PROJECT_ID</key>
	<string>jamtorne2</string>
	<key>STORAGE_BUCKET</key>
	<string>jamtorne2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259499963824:ios:dbbc771d198a061acbd275</string>
	<key>DATABASE_URL</key>
	<string>https://jamtorne2.firebaseio.com</string>
</dict>
</plist>